header {
    box-shadow: 5px 5px 10px black;
    height: 50px;
    font-size: 30px;
    margin-left: 50px;
}

body {
    background-color: darkslategray;
}

input#txt_nome {
    margin-left: 10px;
}

input#txt_cpf {
    margin-left: 21px;
}

input#txt_email {
    margin-left: 6px;
}

input#txt_senha {
    margin-left: 10px;
}

input#bt_salvar {
    background-color: antiquewhite;
    height: 35px;
    width: 120px;
    margin-left: 30px;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}