<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/cadastro.css">
    <title>Cadastro</title>
</head>
<body>
    <header>Cadastro do usuário</header>
    <p>
        Nome:   
        <input type="text" name="">
    </p>

    <p>
        CPF:    
        <input type="text" name="" id="">
    </p>

    <p>
        E-mail: 
        <input type="text" name="" id="">
    </p>

    <p>
        Senha:  
        <input type="text" name="" id="">
    </p>

    <p>
        <button id="">Salvar</button>
    </p>
</body>
</html>