<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de clientes</title>
</head>
<body>
    <header>Cadastro de cliente</header>
    <form action="/update_cliente" method="post">
        <p>
            Nome:
            <input type="text" name="txt_nome" id="txt_nome" value= {{ user[0] }}>
        </p>
        <p>
            Data de nascimento:
            <input type="text" name="txt_data" id="txt_data" value= {{ user[1] }}>
        </p>
        <p>
            CPF:
            <input type="text" name="txt_cpf" id="txt_cpf" value= {{ user[2] }}>
        </p>
        <p>
            
        </p>
    </form>
</body>
</html>