<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <title>Usuários Cadastrados</title>
</head>
<body>
    <table class="table" >
        <tr>
            <th>nome</th>
            <th>cpf</th>
            <th>email</th>
            <th>excluir</th>
            <th>alterar</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario[0]}}</td>
            <td>{{usuario[1]}}</td>
            <td>{% if usuario[2] is not none %}
                {{usuario[2]}}
            {% else %}
                Vazio
            {% endif %}</td>

            <td>
                <a href="{{ url_for('exclui_usuario', user=usuario[3]) }}" class="">Excluir</a>
            </td>
            <td>
                <a href="{{ url_for('alternar_usuario', user=usuario[3]) }}">Alterar</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/">Voltar</a>
</body>
</html>