<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMC</title>
</head>
<body>
    <h1>calcular indice de massa corporal utilizando o método POST</h1>
    <form action="">
        <label>Sua altura</label>
        <input type="text" name="txt_altura">
        <label>Seu peso</label>
        <input type="text" name="txt_peso"> <br>
        <input type="submit" value="calcular">
        <input type="reset" value="Limpar">
    </form>
</body>
</html>