{% extends 'base.html' %}

{% block conteudo %}
<h1>
    Página do About:
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi vero ut non fuga? Temporibus nihil nulla sed aperiam provident error quis atque! Similique, eum neque necessitatibus mollitia nam vitae excepturi!
    </p>
    
    <ul>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni laborum quas delectus voluptates facere quasi, omnis vero dolorem at consequuntur, consectetur sint inventore quod odit reiciendis accusamus blanditiis nesciunt illum!       
    </ul>
</h1>
{% endblock %}

{% block rodape %}
<p>
    Footer
</p>
{% endblock %}