<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas</title>
</head>
<body>
    <h1>pagina web auhauhushuahusua</h1>
    <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In harum animi placeat aperiam optio dolores illo doloremque iure ad vel quibusdam facere minima adipisci a labore rem numquam, exercitationem blanditiis.</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque necessitatibus dicta, mollitia fuga optio consequatur voluptatem eum accusamus rem iure fugit, neque odio sequi magni minima facere ipsam, nobis facilis.</p>

    <a href="/pag2">pagina 2</a><br>
    <a href="/pag3">Ir para a página 3?</a><br>
    <a href="/pag4">Ir para a página 4?</a>
</body>
</html>