<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pag2</title>
</head>
<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptates quia ratione magni id veniam, dignissimos quis quasi rerum mollitia, temporibus, soluta autem quibusdam atque sequi odit sint omnis minima.</h1>
    <h1>Pagina 2 :D</h1>

    <a href="/template">Voltar</a><br>
    <a href="/pag3">Ir para a página 3?</a><br>
    <a href="/pag4">Ir para a página 4?</a>
</body>
</html>