<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pag3</title>
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione culpa est repellendus tenetur dolorem facilis eveniet, dicta minus non soluta assumenda ex hic? Quaerat, praesentium quam molestiae quasi possimus nihil.</p>
    <h1>pag3</h1>

    <a href="/template">Home</a><br>
    <a href="/pag2">Ir para a página 2?</a><br>
    <a href="/pag4">Ir para a página 4?</a>
</body>
</html>