<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina 4</title>
</head>
<body>
    <h1>PAGINA 4</h1>
    <P>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius sit aliquid veritatis delectus, dolorum beatae ab autem dignissimos et expedita, nisi placeat dolore adipisci. Praesentium, consectetur officia? Ducimus, ipsum iure!</P>

    <a href="/template">Home</a><br>
    <a href="/pag2">Ir para a página 2?</a><br>
    <a href="/pag3">Ir para a página 3?</a>
</body>
</html>